[submodule "plugins"]
	path = varilink/plugins
	url = git@github.com:varilink/libraries_wordpress-plugins.git
[submodule "varilink-scripts"]
	path = varilink/scripts
	url = git@github.com:varilink/libraries_wp-cli-scripts.git
