# .bash_history files generated when running bash scripts within containers
# where the container user's home directory is mapped to a local volume.
.bash_history

# Any npm cache directories wherever they occur.
.npm/

# Any NPM dependency directories wherever they occur.
node_modules/

# Generated media files
/media
