<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"0"},"padding":{"top":"0.25rem","bottom":"0.25rem"}}},"backgroundColor":"custom-color-4","textColor":"base","layout":{"type":"constrained"}} -->
<div class="wp-block-group has-base-color has-custom-color-4-background-color has-text-color has-background" style="margin-top:0;padding-top:0.25rem;padding-bottom:0.25rem">
    <!-- wp:navigation {"ref":239,"textColor":"base","layout":{"type":"flex","justifyContent":"space-between"}} /-->
</div>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"var:preset|spacing|50"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="margin-top:var(--wp--preset--spacing--50)">
    <!-- wp:post-content {"layout":{"type":"constrained"}} /-->
    <!-- wp:template-part {"slug":"comments","tagName":"section"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
