<!-- wp:template-part {"slug":"page-header","tagName":"header"} /-->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"0"},"padding":{"top":"0.25rem","bottom":"0.25rem"}}},"backgroundColor":"custom-color-4","textColor":"base","layout":{"type":"constrained"}} -->
<div class="wp-block-group has-base-color has-custom-color-4-background-color has-text-color has-background" style="margin-top:0;padding-top:0.25rem;padding-bottom:0.25rem">

    <!-- wp:navigation {"overlayMenu":"never","layout":{"type":"flex","justifyContent":"space-between"},"style":{"typography":{"fontSize":"1.25rem"}}} /-->

</div>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|50"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group" style="margin-top:var(--wp--preset--spacing--40);margin-bottom:var(--wp--preset--spacing--50)">

    <!-- wp:post-content {"layout":{"type":"default"}} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
